$break-small: 700px;
$colorMain: #6200ee;
html,
body {
    margin: 0px;
    padding: 0px;
}

#searchBar {
    input[type="text"] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
        border-radius: 10px;
    }

    button {
        background-color: transparent;
        float: right;
        padding: 6px 10px;
        margin-top: 6px;
        color: white;
        margin-right: 12px;
        font-size: 20px;
        border: none;
        cursor: pointer;
    }

    button:hover {
        background: #ccc;
    }

    @media screen and (max-width: $break-small) {
        display: none;
    }
}

//----- Extends
%clearfix:after {
    display: block;
    clear: both;
    content: "";
}

//----- Grid System
$grid-spacing: 3%;

.row {
    @extend %clearfix;

    & + & {
        margin-top: $grid-spacing;
    }
}

[class^="col-"] {
    float: left;
    margin-right: $grid-spacing;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &:last-child {
        margin-right: 0%;
    }
}

//----- Columns (Automatic)
.col-1 {
    width: (100% / 12) - ($grid-spacing * 11 / 12);
}
.col-2 {
    width: (100% / 6) - ($grid-spacing * 10 / 12);
    @media screen and (max-width: $break-small) {
        width: 100%;
    }
}
.col-3 {
    width: (100% / 4) - ($grid-spacing * 9 / 12);
    @media screen and (max-width: $break-small) {
        width: 100%;
    }
}
.col-4 {
    width: (100% / 3) - ($grid-spacing * 8 / 12);
    @media screen and (max-width: $break-small) {
        width: 100%;
    }
}
.col-5 {
    width: (100% / 2.4) - ($grid-spacing * 7 / 12);
    @media screen and (max-width: $break-small) {
        width: 100%;
    }
}
.col-6 {
    width: (100% / 2) - ($grid-spacing * 6 / 12);
    @media screen and (max-width: $break-small) {
        width: 100%;
    }
}
.col-7 {
    width: (100% / 1.714285714285714) - ($grid-spacing * 5 / 12);
    @media screen and (max-width: $break-small) {
        width: 100%;
    }
}
.col-8 {
    width: (100% / 1.5) - ($grid-spacing * 4 / 12);
    @media screen and (max-width: $break-small) {
        width: 100%;
    }
}
.col-9 {
    width: (100% / 1.333333333333333) - ($grid-spacing * 3 / 12);
    @media screen and (max-width: $break-small) {
        width: 100%;
    }
}
.col-10 {
    width: (100% / 1.2) - ($grid-spacing * 2 / 12);
}
.col-11 {
    width: (100% / 1.090909090909091) - ($grid-spacing * 1 / 12);
}
.col-12 {
    width: 100%;
}

.my-card {
    height: 350px;
    width: 350px;
}
.main {
    padding: 25px;
    .my-card-content {
        padding: 16px;
        border-radius: 5px;
        margin: 20px;
        a {
            text-decoration: none;
            color: black;
        }
        h4 {
            text-transform: uppercase;
        }
    }
}
.productmain {
    padding: 0px 40px;
    .productcard {
        padding: 20px;
    }
}

.mdc-image-list__item {
    margin: 10px;
}

.paymentForm {
    h3 {
        color: #6200ee;
    }

    form {
        padding: 20px;
        input[type="text"],
        input[type="email"] {
            width: 80%;
            padding: 10px;
            margin: 10px;
        }
        input[type="submit"] {
            background-color: $colorMain;
            border: none;
            border-radius: 20px;
            color: white;
            padding: 5px;
            font-size: 18px;
        }
    }
}
